<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">You're almost ready to roll</h4>
                        <p class="category">
                            Just add people and decide how you want them to use this account.
                        </p>
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <table class="table table-bordered">                                    
                                    <tbody>
                                      <tr>                                        
                                        <div class="row">
                                          <div class="col-md-2" >
                                              <i class="material-icons">check_circle</i>
                                          </div>
                                          <div class="col-md-10" >
                                              CREATE ACCOUNT
                                            </div>
                                        </div>           
                                      </tr>
                                      <tr>                                        
                                          <div class="row">
                                            <div class="col-md-2" >
                                                <i class="material-icons">check_circle</i>
                                            </div>
                                            <div class="col-md-10" >
                                                CREATE ACCOUNT
                                              </div>
                                          </div>           
                                        </tr>
                                        <tr>                                        
                                            <div class="row">
                                              <div class="col-md-2" >
                                                  <i class="material-icons">check_circle</i>
                                              </div>
                                              <div class="col-md-10" >
                                                  CREATE ACCOUNT
                                                </div>
                                            </div>           
                                          </tr>
                                          <tr>                                        
                                              <div class="row">
                                                <div class="col-md-2" >
                                                    <i class="material-icons">check_circle</i>
                                                </div>
                                                <div class="col-md-10" >
                                                    CREATE ACCOUNT
                                                  </div>
                                              </div>           
                                            </tr>
                                      
                                    </tbody>
                                  </table>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
